body {
  text-align: center;
  background-color: #011F3F;
}

a{
  font-size: 1.7rem;
  color: white;
  display: block;
  margin-bottom: 10%;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  color: #FEF2BF;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin: 0 5% 5%;
  color: #FEF2BF;
}

.container {
  width: 50%;
  margin: auto;

}

.but {
  margin: 25px;
  height: 200px;
  width: 200px;
  border: 0.625rem solid black;
  border-radius: 20%;
}

.btn{
  border: 0.325rem solid black;
  position: relative;
  margin: 5%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
